<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version </key>
	<string>v1</string>
	<key>isProduction</key>
	<false/>
	<key>useStubbedAPIs</key>
	<false/>
	<key>allowRefreshToken</key>
	<false/>
	<key>useAppToken</key>
	<false/>
	<key>AppSecurity</key>
	<dict>
		<key>clientId</key>
		<string>staging_android</string>
		<key>clientSecret</key>
		<string>4TqH8ZaHSJ3yh9H</string>
		<key>appToken</key>
		<string></string>
	</dict>
	<key>URLs</key>
	<dict>
		<key>stagingURL</key>
		<string>http://212.71.239.226</string>
		<key>productionURL</key>
		<string>http://139.162.248.79</string>
		<key>imageURLSuffix</key>
		<string>/uploads/</string>
		<key>requestsURLSuffix</key>
		<string>/api/</string>
	</dict>
</dict>
</plist>
